.gitignore
.gitattributes
.vscodeignore
.gitmodules
tsconfig-modules.json
tsconfig.json
tslint.json
.eslintrc.json
webpack.config.js
vsc-extension-quickstart.md
Jenkinsfile
jenkins-pipeline-dsl.groovy
*.tsbuildinfo
*.code-workspace
.svn/**
.git/**
**/*.ts
.vscode/**
.vscode-test/**
.developer_references/**
out/test/**
out/dev-utils/**
out/prepackage**
src/**
node_modules
modules
publish
*.bat
*.cmd
*.vsix
BUILD.md
**/*.map